<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Frolfer</title>
		<!-- <script src="https://unpkg.com/vue" defer></script> -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="holeinfo.js" defer></script>
		<script src="script.js" defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div id="top-bar">
				<h1>Frolfer</h1>
				<div id="hole-select">
					<p><button @click="decHole">&lt;</button> Hole {{ hole }} <button @click="incHole">&gt;</button></p>
				</div>
			</div>
			<div id="content">
				<div id="scores">
					<h2>Scores</h2>
					<div class="score-row" v-for="player in players">
						<p><button @click="removePlayer(player)">x</button></p>
						<p class="player">{{ player.name }}</p>
						<p class="number">Total<br><strong>{{ total(player) }}</strong></p>
						<p class="number">Hole {{ hole }}<br><strong>{{ player.points[hole - 1] }}</strong></p>
						<p><button @click="incPoints(player, hole)">+</button></p>
						<p><button @click="decPoints(player, hole)">-</button></p>
					</div>
					<div id="add-player">
						<p><input type="text" v-model="name" v-on:keyup.enter="addPlayer(name)" placeholder="Add player..."></p>
						<p id="add-button"s><button @click="addPlayer(name)">Add</button></p>
					</div>
				</div>

				<div id="information">
					<div id="information-text">
						<h2>Hole {{ hole }}</h2>
						<hr>
						<p class="labeled-info"><span class="label">TARGET</span> {{ holeInfo[hole - 1].target }}</p>
						<p class="labeled-info"><span class="label">WATCH FOR</span> {{ holeInfo[hole-1].watchFor }}</p>
						<div id="info-text" v-html="holeInfo[hole - 1].info"></div>
					</div>
					<div id="location">
						<div id="toggle-view">
							<p class="active" id="toggle-images-button">Images</p>
							<p id="toggle-map-button">Map</p>
						</div>
						<div id="images">
							<div class="images-half" id="start">
								<img :src="'img/' + hole + 'start.jpg'" :alt="'Hole ' + hole + ' start'">
								<p class="image-label">Start</p>
							</div>
							<div class="images-half" id="finish">
								<img :src="'img/' + hole + 'end.jpg'" alt="'Hole ' + hole + ' end'">
								<p class="image-label">Finish</p>
							</div>
						</div>

						<div id="map">
							<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1sF2h2uMQ23XYcj7APuWTyjHhxIA" width="100%" height="480"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<p>by <a href="http://theycallmezeal.me">Adam</a> and <a href="http://jackbowden.me">Jack</a></p>
		</div>
	</body>

</html>
